<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllWallet"
        tools:targetApi="31">
        <activity
            android:name=".activities.EditWalletActivity"
            android:exported="false"
            android:label="@string/EditWalletActivity"
            android:theme="@style/Theme.AllWallet" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.AllWallet" />
        <meta-data
            android:name="screenshot_1"
            android:resource="@drawable/screenshot_1"/>
        <meta-data
            android:name="screenshot_2"
            android:resource="@drawable/screenshot_2"/>
        <meta-data
            android:name="screenshot_3"
            android:resource="@drawable/screenshot_3"/>
        <meta-data
            android:name="screenshot_4"
            android:resource="@drawable/screenshot_4"/>
    </application>

</manifest>